<% const year=new Date().getFullYear(); %>
    <footer>
        <a href="http://localhost:3001/inv/detail/0">Error LINK</a>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    </footer>