<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="">
    <div class="data-veh">
        <span class="car-name">DMC Delorean</span>
        <ul class="features">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>

        </ul>
        <button>Own Today</button>
    </div>
</div>
<div id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul id="ul-reviews">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div id="upgrades">
   <h2>Delorean Upgrades</h2>
    <ul id="ul-upgrades">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road" (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>

