@media screen and (min-width: 700px) {

    html {
        background-image: url("/images/site/small_check.jpg");
    }

    body {
        border: 2px solid var(--blueish);
        border-radius: 9px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #hero {
        width: 80%;
        margin: 0 auto;
    }

    .data-veh {
        top: 2em;
        font-size: 1.3em;
    }

    #data {
        display: grid;
        grid-template-areas:
            "upgrades reviews";
        align-items: baseline;
        padding-left: 5em;
        /* justify-content: center; */

    }

    #upgrades {
        grid-area: upgrades;

    }

    #reviews {
        grid-area: reviews;
    }
}