/******* Change Box Model ***************/
:root {
  --blueish: #31bbdb;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
span {
  font-family: 'Merriweather', Arial, Helvetica;
}

body {
  font-family: 'Roboto', Arial, Helvetica;
}

body {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}


header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 1em 0.5em 0 0.5em;


}



nav a,
header a {
  /* font-size: 2em; */
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#tools a {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.2em;
}

nav {
  background-color: black;
  margin-bottom: 1em;
  margin-top: 1em;
}

nav a:hover {
  font-size: larger;

}

@keyframes color {
  0% {
    color: red;
  }

  25% {
    color: green;
  }

  75% {
    color: blue;

  }

}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav li {
  color: white;
  list-style: none;
  font-weight: bold;
}

nav li a {
  color: white;
}

h1 {
  font-size: 1.3em;
}

#hero {
  padding: 1em;
  position: relative;
  margin-top: 1em;

}

.data-veh button {
  background-color: var(--blueish);
  border: none;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.8em;
}

.data-veh {
  position: absolute;
  top: 1.4em;
  color: var(--blueish);
  background-color: rgb(255, 255, 255, 0.8);

}

.car-name {
  font-size: larger;
  font-weight: bold;
}

.data-veh li {
  font-size: 0.9em;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.3em;
}

#upgrades h2 {
  margin-bottom: 0.5em;

}




#reviews {
  margin: 0.5em;
}

#ul-reviews {
  margin-bottom: 1em;
}

#ul-reviews li {
  font-size: 0.95em;
  margin-left: 1.2em;
  margin-bottom: 0.4em;
}

#upgrades {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.6em;

}

#upgrades h2 {
  grid-column: 1/3;

}

.upgrade-img img {
  width: 3.5em;
  height: auto;

}

.upgrade-img {
  background-color: var(--blueish);
  height: 5em;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(0, 0, 0, 0.5);
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.upgrade a {
  color: revert;
  text-decoration: revert;
  font-size: revert;
}




#inv-display {
  display: grid;
  gap: 1em;
  padding: 1em;
}





#inv-display li {
  border-bottom: solid 2px rgb(92, 91, 91);
  padding-bottom: 0.2em;
  list-style: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 0.5em;

}

#inv-display img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.5em;
}

#inv-display a {
  display: flex;
  flex-direction: column;
}

.namePrice {
  margin-left: 0.4em;
  text-align: center;
  margin-top: 1em;
}

.namePrice span {
  margin-top: 0.4em;
}

.namePrice a {
  font-size: 0.7em;
}

#veh-details {
  display: grid;
}



#veh-details h1,
#veh-details h2 {
  margin-left: 0.2em;
}

#veh-details h2 {
  font-size: 1.1em;
  margin-top: 0.8em;

}

#veh-details img {
  margin: 0 auto;
  max-width: 90%;


}

#details {
  padding: 1em;
  display: grid;
  gap: 0.4em;
}

.bold {
  font-weight: bolder;
}

#details p {
  padding: 0.6em;
}

#details p:nth-of-type(odd) {
  background-color: rgb(237, 240, 239);
}

#server-error {
  background-image: url("/images/site/error.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  font-size: 2em;
  position: relative;
}

#server-error p {
  color: red;
  background-color: rgb(255, 255, 255, 0.9);
  text-align: center;
  position: absolute;
  top: 1em;
  border-radius: 10px;
  width: 100%;
}