/******* Change Box Model ***************/
:root {
  --blueish: #31bbdb;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
span {
  font-family: 'Merriweather', Arial, Helvetica;
}

body {
  font-family: 'Roboto', Arial, Helvetica;
}

body {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
}


header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 1em 0.5em 0 0.5em;


}


a:visited {
  color: white;
  /* text-decoration: none; */
}

a {
  /* font-size: 2em; */
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#tools a {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.2em;
}

nav {
  background-color: black;
  margin-bottom: 1em;
  margin-top: 1em;
}

nav a:hover {

  animation-name: color;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: larger;

}

@keyframes color {
  0% {
    color: red;
  }

  25% {
    color: green;
  }

  75% {
    color: blue;

  }

}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav li {
  color: white;
  list-style: none;
  font-weight: bold;
}

nav li a {
  color: white;
}

h1 {
  font-size: 1.3em;
}

#hero {
  padding: 1em;
  position: relative;
  margin-top: 1em;

}

.data-veh button {
  background-color: var(--blueish);
  border: none;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.8em;
}

.data-veh {
  position: absolute;
  top: 1.4em;
  color: var(--blueish);
  background-color: rgb(255, 255, 255, 0.8);

}

.car-name {
  font-size: larger;
  font-weight: bold;
}

.data-veh li {
  font-size: 0.9em;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.3em;
}


#reviews {
  margin: 0.5em;
}

#ul-reviews {
  margin-bottom: 1em;
}

#ul-reviews li {
  font-size: 0.95em;
  margin-left: 1.2em;
  margin-bottom: 0.4em;
}

#upgrades {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.6em;

}

#upgrades h2 {
  grid-column: 1/3;

}

.upgrade-img img {
  width: 3.5em;
  height: auto;

}

.upgrade-img {
  background-color: var(--blueish);
  height: 5em;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(0, 0, 0, 0.5);
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.upgrade a {
  color: revert;
  text-decoration: revert;
  font-size: revert;
}