/******* Change Box Model ***************/
:root {
  --blueish: #31bbdb;
  --blue-dark: #32475c;
  --error: rgb(249, 144, 144);
  --ok: rgb(167, 236, 167);

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
span {
  font-family: 'Merriweather', Arial, Helvetica;
}

body {
  font-family: 'Roboto', Arial, Helvetica;
}

body {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}


header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 1em 0.5em 0 0.5em;


}



nav a,
header a {
  /* font-size: 2em; */
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#tools a {
  font-size: 1em;
  font-weight: 400;
  margin-top: 0.2em;
}

nav {
  background-color: black;
  margin-bottom: 1em;
  margin-top: 1em;
}

nav a:hover {
  font-size: larger;

}

@keyframes color {
  0% {
    color: red;
  }

  25% {
    color: green;
  }

  75% {
    color: blue;

  }

}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav li {
  color: white;
  list-style: none;
  font-weight: bold;
}

nav li a {
  color: white;
}

h1 {
  font-size: 1.3em;
}

#hero {
  padding: 1em;
  position: relative;
  margin-top: 1em;

}

.data-veh button {
  background-color: var(--blueish);
  border: none;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.8em;
}

.data-veh {
  position: absolute;
  top: 1.4em;
  color: var(--blueish);
  background-color: rgb(255, 255, 255, 0.8);

}

.car-name {
  font-size: larger;
  font-weight: bold;
}

.data-veh li {
  font-size: 0.9em;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.3em;
}

#upgrades h2 {
  margin-bottom: 0.5em;

}




#reviews {
  margin: 0.5em;
}

#ul-reviews {
  margin-bottom: 1em;
}

#ul-reviews li {
  font-size: 0.95em;
  margin-left: 1.2em;
  margin-bottom: 0.4em;
}

#upgrades {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.6em;

}

#upgrades h2 {
  grid-column: 1/3;

}

.upgrade-img img {
  width: 3.5em;
  height: auto;

}

.upgrade-img {
  background-color: var(--blueish);
  height: 5em;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px rgb(0, 0, 0, 0.5);
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.upgrade a {
  color: revert;
  text-decoration: revert;
  font-size: revert;
}




#inv-display {
  display: grid;
  gap: 1em;
  padding: 1em;
}





#inv-display li {
  border-bottom: solid 2px rgb(92, 91, 91);
  padding-bottom: 0.2em;
  list-style: none;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 0.5em;

}

#inv-display img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.5em;
}

#inv-display a {
  display: flex;
  flex-direction: column;
}

.namePrice {
  margin-left: 0.4em;
  text-align: center;
  margin-top: 1em;
}

.namePrice span {
  margin-top: 0.4em;
}

.namePrice a {
  font-size: 0.7em;
}

#veh-details {
  display: grid;
}



#veh-details h1,
#veh-details h2 {
  margin-left: 0.2em;
}

#veh-details h2 {
  font-size: 1.1em;
  margin-top: 0.8em;

}

#veh-details img {
  margin: 0 auto;
  max-width: 90%;


}

#details {
  padding: 1em;
  display: grid;
  gap: 0.4em;
}

.bold {
  font-weight: bolder;
}

#details p {
  padding: 0.6em;
}

#details p:nth-of-type(odd) {
  background-color: rgb(237, 240, 239);
}

#server-error {
  background-image: url("/images/site/error.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  font-size: 2em;
  position: relative;
}

#server-error p {
  color: red;
  background-color: rgb(255, 255, 255, 0.9);
  text-align: center;
  position: absolute;
  top: 1em;
  border-radius: 10px;
  width: 100%;
}

/*Login style */

#login_form {
  background-color: var(--blueish);
  padding: 0.5em;
}


form {
  background-color: var(--blue-dark);
  padding: 0.5em;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 0.3em;
  font-weight: bold;
  /* background-color: rgb(233, 233, 10); */
}

#login_form h3 {
  color: white;
  margin-bottom: 0.5em;
}

#register_menu {
  color: white;
  text-align: center;
  margin-top: 0.7em;
}

#register_menu a:visited,
#register_menu a {
  color: white;
}


form h2,
form h3 {
  color: white;
  margin: 0.3em 0 1em 0;
}

#pass-msg {
  display: block;
  margin-bottom: 0.7em;
  font-size: smaller;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: none;
}

input {
  display: block;
  margin-bottom: 1em;
  margin-top: 0.1em;


}

.required::before {
  content: "*";
  color: rgb(245, 116, 116);
  font-size: 0.8em;
}

label {
  color: white;
  font-size: 0.9em;

}


.toggle-button input.register-btn {
  margin: 0.5em 0 1em 0;
  background-color: var(--blueish);
  width: 7em;
  padding: 0.5em;
  height: auto;
  font-size: 1.3em;
  color: white;
  font-weight: bold;
}

#password-lbl {
  position: relative;
}

#see-password {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 4px;
  bottom: 0.3em;
}

#see-password:active {
  opacity: 0.4;
}

#see-password::before {
  content: "👁️";
  font-size: 20px;
}






/*Messages         */
@keyframes notification {
  0% {
    transform: translateY(1em);
  }

  33% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(1em);
  }

  100% {
    transform: translateX(0);
  }

}

.notice,
.error {
  /*apply this to general message style*/
  padding: 0.3em;
  font-style: italic;
  border: 2px solid rgb(0, 0, 0, 0.1);
  animation-name: notification;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.notice {
  background-color: rgb(248, 248, 65);
}

.error {
  background-color: var(--error);
}

.notice li,
.error li {
  /*apply to every li from message */
  list-style: none;

}


/* adding vehicles and clasification styles */
#adding {
  margin: 1em;
}

#adding input[type="submit"] {
  background-color: rebeccapurple;
  width: auto;
}

#adding a {
  display: block;
  font-size: 1.3em;
  margin-top: 0.3em;
}

#classification_name:not(:placeholder-shown):invalid {
  background-color: var(--error);
}

#inv_year:not(:placeholder-shown):invalid {
  background-color: var(--error);
}

input:focus:invalid ,
textarea:focus:invalid {
  background-color: var(--error);

}

textarea:focus:valid,
input:focus:valid {
  background-color: var(--ok);

}

select {
  display: block;
  margin-bottom: 0.5em;
  height: 30px;
}

.ok {
  background-color: rgb(167, 236, 167);
}

textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}