/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.siteName a:visited {
  color: black;
  /* text-decoration: none; */
}

.siteName a {
  font-size: 2em;
  color: black;
  text-decoration: none;
  font-weight: bold;
}